body {
            height: 100vh;
            min-height: 100vh;
            margin: 0;
            display: flex;
        }

        /* ПРЕСЕТЫ */

        #presets {
            width: fit-content;
            min-width: 10%;
            display: flex;
            transition: all 0.3s ease;
        }

        #presets>#main {
            position: relative;
        }


        #presets.collapsed {
            min-width: auto;
        }

        #presets.collapsed #presets-list {
            width: 0;
            padding: 0;
            opacity: 0;
            border: none;
        }

        #presets-list {
            display: flex;
            flex-direction: column;
            height: 85%;
            width: 150px;
            align-items: center;
            overflow-y: auto;
            overflow-x: hidden;
            transition: all 0.3s ease;
            padding: 15px;
            gap: 15px;
            box-sizing: border-box;
            margin: auto;
            scroll-snap-type: y mandatory;
        }

        #presets-list::-webkit-scrollbar {
            display: none;
        }

        #presets-list {
            scrollbar-width: none;
        }

        #presets>#presets-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 100%;
        }

        #presets.open>#presets-arrow {
            border-right: 20px solid black;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px
        }

        #presets>#presets-arrow>i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 150px;
            box-sizing: border-box;
            padding: 5px;
            cursor: pointer;
        }

        #presets.open>#presets-arrow>i {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            background-color: black;
            color: aliceblue;
        }


        #presets.collapsed>#presets-arrow>i {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            background-color: black;
            color: aliceblue;
        }

        #presets.collapsed>#presets-collapsed-border {
            border-right: 20px solid black;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }

        .preset {
            background-color: #dbdbdb;
            width: 105px;
            padding: 5px 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            margin: 0;
            scroll-snap-align: start;
            flex-shrink: 0;
        }

        .preset:hover {
            transform: translateY(-5px);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
        }

        .preset span {
            width: 100%;
            font-size: large;
            font-weight: 400;
            padding: 5px 0px;
            overflow-wrap: break-word
        }

        #presets-list input {
            width: 0px;
            height: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
        }

        .preset #tools {
            display: none;
            border-top: 1px solid gray;
            padding: 10px 0px;
            padding-bottom: 5px;
            margin-top: 5px;
            width: 100%;
            justify-content: space-around;
        }

        .preset.active #tools {
            display: flex;
        }

        .preset.active #tools i {
            cursor: pointer;
        }

        .preset.active #tools i {
            cursor: pointer;
            color: #333;
        }

        .preset.active #tools i:hover {
            color: #000000;
        }

        .preset.global {
            background-color: #7ad7e9;
        }

        .preset.changing {
            background-color: #eec64c;
        }

        .preset dialog {
            width: 100px;
            height: 50px;
            flex-direction: column;
            gap: 10px;
            border-radius: 10px;
        }

        .preset dialog #buttons {
            display: flex;
            gap: 10px;
            justify-content: space-around;
        }

        .preset dialog #buttons div {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 5px;
            font-size: large;
            font-weight: 500;
        }

        .preset dialog #buttons #yes {
            background-color: #73db61;
        }

        .preset dialog #buttons #no {
            background-color: #db6161;
        }

        #presets #search {
            width: 100%;
            display: flex;
            padding: 5px;
            justify-content: space-around;
            gap: 20px;
        }

        #presets #search i {
            font-size: 20px !important;
            width: 12px !important;
            height: 20px !important;
        }

        #presets #search input {
            width: 70%;
            border-bottom: 1px solid black;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
        }

        #presets #search input:focus {
            width: 70%;
            border-bottom: 1px solid black;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            outline: none;
        }

        #presets.collapsed #search {
            width: 0;
            padding: 0;
            opacity: 0;
        }

        #presets .control {
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            margin: 12px;
        }

        #presets .control>i {
            font-size: 20px !important;
            width: 12px !important;
            height: 20px !important;
        }

        #presets.collapsed .control {
            width: 0;
            padding: 0;
            opacity: 0;
            border: none;
        }

        /* ЗВУКИ */

        #root {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        #sounds {
            max-width: 1200px;
            width: auto;
            border-collapse: separate;
            border-spacing: 5px 10px;
        }

        #sounds td {
            position: relative;
            padding: 10px;
            width: 100px;
            max-width: 70px;
            height: 90px;
            overflow: hidden;
            overflow-wrap: break-word;
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s ease;
            user-select: none;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        }

        #sounds td:hover {
            box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
        }

        .sound-cell {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }

        .sound-cell svg {
            width: 48px;
            height: 48px;
            display: block;
        }

        .sound-cell.mask {
            display: none;
        }

        td>.volume-slider {
            position: absolute;
            left: 0px;
            width: 100px;
            height: 7px;
            top: 50%;
            background-color: #9f9f9f;
            display: none;
            opacity: 0;
            transition: opacity 1s ease;
            cursor: ns-resize;
            z-index: 3;
            transform: translate(0%, -50%);
            pointer-events: auto;
        }

        /* АКТИВНОЕ СОСТОЯНИЕ ЯЧЕЕК */
        td.active {
            background-color: currentColor;
            transform: translateY(-5px);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
        }


        /* Верхняя половина - цветная на белом фоне */
        td.active>.sound-cell.mask {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: inherit;
            background-color: white;
            clip-path: inset(0 0 50% 0);
            z-index: 2;
        }

        /* Нижняя половина - белая на цветном фоне */
        td.active .sound-cell.main {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            z-index: 1;
        }

        td.active .sound-cell.main .sound-label,
        td.active .sound-cell.mask .sound-label {
            color: inherit;
        }

        td.active .sound-cell.mask svg {
            color: inherit;
        }

        .sound-label {
            font-size: 14px;
            font-weight: 500;
            width: 70px;
        }

        .water {
            color: #2986ccbc;
        }

        .forest {
            color: #6aa84fbc;
        }

        .rain {
            color: #16537ebc;
        }

        .city {
            color: #8945cabc;
        }

        .other {
            color: #9f9f9fbc;
        }

        .fire {
            color: #e67022bc;
        }

        .white-noise {
            color: #a8a8a8bc;
        }

        .pink-noise {
            color: #ffa3a3bc;
        }

        .brown-noise {
            color: #945600bc;
        }


        /* ИНСТРУМЕНТЫ */
        .control {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 25px;
            background-color: #f0f0f0;
            border-radius: 30px;
            flex-wrap: wrap;
            gap: 30px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .control>i:not(#master-volume-slider) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            font-size: 25px;
            color: #333;
            transition: color 0.2s;
        }


        .control>i:hover:not(#master-volume-slider) {
            color: #000;
        }

        #master-volume-slider {
            width: 100px;
            height: 30px;
            display: none;
            align-items: center;
            margin-left: -30px;
            opacity: 0;
            transition: opacity 1s ease;
            padding: 0px 20px;
        }

        #master-volume-slider #track {
            position: relative;
            width: 100px;
            height: 6px;
            background-color: #000;
            border-radius: 10px;
            cursor: pointer;
        }

        #master-volume-slider #thumb {
            position: absolute;
            transform: translate(-50%, -50%);
            background-color: rgb(148, 95, 95);
            aspect-ratio: 1 / 1;
            height: 14px;
            top: 50%;
            left: 50%;
            border-radius: 15px;
            cursor: ew-resize;
        }